- page_title s_('Onboarding|Create your first project')

.gl-flex.gl-flex-col.gl-items-center.gl-w-full.gl-px-5.gl-pb-5
  .gl-flex.gl-flex-col.gl-items-center.gl-w-full
    %h2.gl-text-center= s_('Onboarding|Create your first project')

    %p.gl-text-center= s_('Onboarding|Projects help you organize your work. They contain your file repository, issues, merge requests, and so much more.')

    = gitlab_ui_form_with url: admin_registrations_groups_path, method: :post, html: { class: 'gl-w-full gl-p-4' } do |f|
      = form_errors(@group, type: 'Group')
      = form_errors(@project, type: 'Project')

      = fields_for :group, @group do |gf|
        %fieldset
          %legend.gl-sr-only= s_('Onboarding|Group')
          .gl-mb-3
            = gf.label :name, s_('Onboarding|Group name'), class: 'gl-mb-2 gl-block'
            = gf.text_field :name, class: 'gl-form-input form-control', required: true, data: { testid: 'group-name' }
          = gf.hidden_field :path

      = fields_for :project, @project do |pf|
        %fieldset
          %legend.gl-sr-only= s_('Onboarding|Project')
          .gl-mb-3
            = pf.label :name, s_('Onboarding|Project name'), class: 'gl-mb-2 gl-block'
            = pf.text_field :name, class: 'gl-form-input form-control', required: true, data: { testid: 'project-name' }
          = pf.hidden_field :path

      .gl-flex.gl-justify-end.gl-gap-3
        = render Pajamas::ButtonComponent.new(href: root_path, variant: :default, button_options: { data: { testid: 'skip-button' } }) do
          = s_('Onboarding|Skip')
        = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, button_options: { data: { testid: 'submit-button' } }) do
          = s_('Onboarding|Continue')
