- page_title _("Snippets")
- button_path = new_snippet_path if can?(current_user, :create_snippet)

- if current_user.snippets.exists?
  = render ::Layouts::IndexLayout.new(heading: _('Snippets')) do |c|
    - c.with_actions do
      = render Pajamas::ButtonComponent.new(href: explore_snippets_path, variant: :link, button_options: { class: 'gl-m-2' }) do
        = _("Explore snippets")
      - if can?(current_user, :create_snippet)
        = render Pajamas::ButtonComponent.new(href: new_snippet_path, variant: :confirm, button_options: { title: _("New snippet") }) do
          = _("New snippet")
    .top-area= render partial: 'snippets/snippets_scope_menu', locals: { include_private: true, counts: @snippet_counts }
    = render partial: 'shared/snippets/list', locals: { link_project: true }
- else
  = render 'shared/empty_states/snippets', button_path: button_path
