- if @diff_hunk.header
  %tr.rd-hunk-header.rd-hunk-header-inline{ data: { hunk_header: true } }
    %td.rd-hunk-header-buttons{ colspan: '2' }= expand_buttons
    %td.rd-hunk-header-content= @diff_hunk.header.text
- @diff_hunk.lines&.each do |line|
  - line_id = line.id(@file_hash)
  - change = line_change_type(line)
  %tr.rd-hunk-lines.rd-hunk-lines-inline{ id: line_id, data: { testid: 'hunk-lines-inline', hunk_lines: true, expanded: (true if line.expanded?) } }
    = line_number_cell(line, line_id, change, :old)
    = line_number_cell(line, line_id, change, :new)
    = line_content_cell(line, change, nil)
