- page_heading_classes = @page_heading_sr_only ? 'gl-sr-only' : ''

%div{ @options }
  = render ::Layouts::PageHeadingComponent.new(@heading, options: { class: page_heading_classes }) do |c|
    - c.with_heading do
      = heading || @heading
    - if actions?
      - c.with_actions do
        = actions
    - if description? || @description
      - c.with_description do
        = description || @description

  #index-layout-alerts{ class: 'gl-mb-5 gl-flex gl-flex-col gl-gap-3 empty:gl-mb-0', data: { testid: 'index-layout-alerts' } }
    = alerts

  %div{ data: { testid: 'index-layout-content' } }
    = content
